/* General styles */
/* body {
    margin: 0;
    font-family: Arial, sans-serif;
  } */
  
  .collections {
    padding: 20px;
    text-align: center;
  }
  
  .collections-header h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .collections-header p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  /* Grid container */
  .collections-grid {
    display: flex;
    justify-content: center; /* Center align the cards */
    flex-wrap: wrap; /* Allow cards to wrap to the next line on smaller screens */
    gap: 70px;
  }
  
  .collection-card {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px; /* Decreased card width */
    height: 300px; /* Decreased card height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
  }
  
  .collection-card:hover {
    transform: scale(1.05);
  }
  
  .collection-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
  }
  
  .collection-card h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 15px;
    background: rgba(0, 128, 0, 0.8);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2; /* Ensure the text is above the overlay */
  }
  
  .collection-card:hover h3 {
    opacity: 1;
    transform: translateY(0);
  }
  
  .collection-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #5ce65c48; /* Light green with transparency */
    z-index: 1;
    transition: height 0.3s ease;
  }
  
  .collection-card:hover::after {
    height: 100%;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .collection-card {
      width: 75%;
      height: auto;
    }
    .collections-header {
        text-align: left;
    }
  }
  
